{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{% endblock %}

{% block banner %}
    <div class="banner">
        <div id="image-home">
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="container">
        <h2>Welcome to TheSudan.com</h2>
        <p>This is a website designed to provide information on the country
            of Sudan.</p>
        <p>This topics on this site range from ancient and modern
            history, to current politics, to the deep and rich culture of the
            nation.</p>
        <p> I hope you'll find this site useful and informative.</p>
    </div>
{% endblock %}
