{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Politics{% endblock %}

{% block banner %}
    <div class="banner">
        <div id="image-politics">
        </div>
    </div>
    <p>Sudanese Presidential Palce from June 2014. Digital Image. <i>BBC.com. </i>26 Janurary 2015. http://www.bbc.com/news/world-africa-30990268</p>
{% endblock %}

{% block main_content %}
    <div class="container">
        <h2>Politics</h2>
        <p>The politics of Sudan...</p>
    </div>
{% endblock %}
